
<br>
<div class="card">
                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>{{ title }}</strong>
                </h5>

                <div class="card-body px-lg-5 pt-0">
                    <br>
                    <form method="POST" action="/{{ action }}" role="form" enctype="multipart/form-data">
                        <div class="form-group row {% if error.title is not empty %} alert alert-danger {% endif %}" id="nameGroup">
                            <!-- TITLE -->
                            <label for="title" class="col-4 col-form-label">Name</label>
                            <div class="col-8">
                                <input id="title" name="title" placeholder="Name" type="text" class="form-control" required="required" value="{{ product.title }}">
                                <p style="{% if error.name is empty %}display: none; {% endif %}" id="nameError">So what's your product again?</p>

                            </div>
                        </div>
                        <!-- DESCRIPTION -->

                        <div class="form-group row {% if error.description is not empty %} alert alert-danger {% endif %}" id="descriptionGroup">
                            <label for="description" class="col-4 col-form-label">Description</label>
                            <div class="col-8">
                                <input id="description" name="description" placeholder="Product description" type="text" class="form-control" required="required" value="{{ product.description }}">
                                <p style="{% if error.description is empty %}display: none; {% endif %}" id="descriptionError">What's short and valuable it's two times good, but that's why you may use photos!</p>

                            </div>
                        </div>
                        <!-- CATEGORY -->

                        <div class="form-group row {% if error.category is not empty %} alert alert-danger {% endif %}">
                            <label for="Category" class="col-4 col-form-label">Category</label>
                            <div class="col-8">
                                <select id="Category" name="category" class="custom-select" aria-describedby="CategoryHelpBlock" required="required">
                                    <option value="Computers">Computers and electronic</option>
                                    <option value="Cars">Cars</option>
                                    <option value="Sports">Sports</option>
                                    <option value="Games">Games</option>
                                    <option value="Fashion">Fashion</option>
                                    <option value="Home">Home</option>
                                    <option value="Other">Other</option>
                                </select>
                                <span id="CategoryHelpBlock" class="form-text text-muted">Choose a category</span>
                            </div>
                        </div>
                        <!-- PRICE -->

                        <div class="form-group row {% if error.price is not empty %} alert alert-danger {% endif %}" id="priceGroup">
                            <label for="price" class="col-4 col-form-label">Price</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <input value="{{ product.price }}" id="price" name="price" type="text" class="form-control" required="required">
                                    <div class="input-group-append">
                                        <div class="input-group-text">€</div>
                                    </div>
                                </div>
                                <p style="{% if error.price is empty %}display: none; {% endif %}" id="priceError">How may I charge this value?</p>

                            </div>
                        </div>

                        <!-- IMAGE -->


                        {% if action != 'modifyProduct' %}
                        <div id="fileGroup" class="form-group row {% if error.file is not empty %} alert alert-danger {% endif %}">
                            <label for="image" class="col-4 col-form-label">Image</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <input type="file" class="custom-file-input" id="customFile" name="avatar"
                                           accept="image/png, image/jpeg" required>
                                    <label class="custom-file-label overflow-auto" for="customFile">Choose file</label><br>
                                    <label for="customFile">Product Image</label>
                                    <p style="{% if error.file is empty %}display: none; {% endif %}" id="fileError">Some elements are just WAY Bigger that they should</p>

                                    <script>
                                        $('#customFile').on('change',function(){
                                            //get the file name
                                            var fileName = $(this).val();
                                            //replace the "Choose a file" label
                                            $(this).next('.custom-file-label').html(fileName.replace('C:\\fakepath\\', " "));
                                        })
                                    </script>

                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <div class="form-group row">
                            <div class="offset-4 col-8">
                                <button name="submit" type="submit" value="{{ product.id }}" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

<script>
    $("input").change(function(e) {
        switch(this.id) {
            case 'title':
                break;
            case 'price':
                if(isNaN(e.currentTarget.value)){
                    $("#priceError").show(100);
                    $("#priceGroup").addClass("alert alert-danger");

                } else {
                    $("#priceError").hide(100);
                    $("#priceGroup").removeClass("alert alert-danger");

                }
                break;
            case 'description':
                if(e.currentTarget.value.length < 20) {
                    $("#descriptionError").show(100);
                    $("#descriptionGroup").addClass("alert alert-danger");

                } else {
                    $("#descriptionError").hide(100);
                    $("#descriptionGroup").removeClass("alert alert-danger");

                }

                break;

            case 'customFile':
                if (this.files[0].size > 1024 * 1024){
                    $("#fileError").show(100);
                    $("#fileGroup").addClass("alert alert-danger");

                } else {
                    $("#fileError").hide(100);
                    $("#fileGroup").removeClass("alert alert-danger");

                }
                break;
        }
    });
</script>