{% extends "base.html.twig" %}
{% block title %} {{ title }} {% endblock %}

{% block content %}

    <br>
    <div class="container card">

        <div class="w-100 text-center">
        <h1>{{ product.title }}</h1>
        </div>

        <div class="card-body">
            <div class="row h-100">
                <div class="col-3 h-100">
                    <img src="{{ base_url() }}/uploads/products/{{ product.product_image_dir }}">
                    <div id="likeP" align="right" style="margin-right: 10%">
                        <img id="{{ product.id }}" src="{{ base_url() }}/assets/cor_normal.png" width="10%">
                    </div>
                </div>

                <div class="col h-100">
                    <div class="container h-100">
                        <div class="row h-75">
                            <p>{{ product.description }}</p>
                        </div>
                        <div class="row h-100">
                            <div class="col-9">
                                <p>{{ product.category }}</p>
                            </div>
                            <div class="col">
                                <p>{{ product.price }}€</p>
                            </div>
                            <div class="form">
                                <form>
                                    <button type="submit" class="btn btn-primary">Buy</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ product.id }}


{% endblock %}

{% block footer %}
    {{ footer }}
{% endblock %}

{% block script %}
<script>
    {% if product.id is not null %}
    $("#{{ product.id }}").click(function (ev) {
        {% if idUser is null %}
        alert("You have to log in to be able to like products :)");
        {% else %}
        $.ajax({
            type: "POST",
            url: "/heartPressed",
            dataType: 'json',
            data: ({idProducte: ev.target.id, idUser: '{{ idUser }}' }),
            success: function (data) {
                console.log(data);
                if (data[0]){
                    $("#{{ product.id }}").attr("src","{{ base_url() }}/assets/cor_normal.png");
                    isLike = false;
                }else{
                    $("#{{ product.id }}").attr("src","{{ base_url() }}/assets/cor_like.png");
                    isLike = true;
                }
            },
            fail: function (data) {
                console.log(data);
            }

        });
        {% endif %}
    });
    {% endif %}
</script>
{% endblock %}
