<div id="producte" style="display:table" >

    <div id="fotoP" style="display: table-cell;position: relative;vertical-align: middle" >
        <img src="{{ base_url() }}/assets/wallapop.jpg"  width="100%">
        <div id="likeP" align="right" style="margin-right: 10%">
            <img src="{{ base_url() }}/assets/cor_normal.png"  width="20%">

        </div>
    </div>
    <div id ="infoP" style="display:table-cell;vertical-align: middle">
        <h2>{{ nomProducte }}</h2>
        <p>{{ descripcioProducte }}</p>
        <h2 align="right"style="margin-right: 5%">{{ preuProducte }}</h2>
    </div>

</div>
