

<div id="producte{{ product.id }}" class="card"  style="display:table; min-width: 100%" >

    <div id="fotoP" style="display: table-cell;vertical-align: middle; width: 300px" >
        <a href="/product?idProducte={{ product.id }}"><img src="{{ base_url() }}/uploads/products/{{ product.product_image_dir }}"  width="300px"></a>
        <div id="likeP" align="right" style="margin-right: 10%">
            {% if product.id is not null %}
            <img id="{{ product.id }}" src="{{ base_url() }}/assets/cor_normal.png" width="10%">
            {% endif %}
        </div>
    </div>


    <div id ="infoP" style="display:grid;grid-template-rows: 20% 60% 10%;height: 207px">
        <h2>{{ product.title }}</h2>
        <p style="overflow-y: scroll ;overflow-x: hidden">{{ product.description }}</p>
        <div style="display:inline-grid; grid-template-rows:inherit; grid-template-columns: auto auto auto">
            <a align="left" href="product?idProducte={{ product.id }}">See more...</a>
            <h2 align="right" >{{ product.price }}€</h2>
            <form align="right" method="post" style="margin-right: 5%">
                <button type="submit" class="btn btn-primary"> BUY </button>
            </form>
        </div>

    </div>

</div>
<script>

    {% if product.id is not null %}
        $("#{{ product.id }}").click(function (ev) {
            {% if idUser is null %}
                alert("You have to log in to be able to like products :)");
            {% else %}
             $.ajax({
                    type: "POST",
                    url: "/heartPressed",
                    dataType: 'json',
                    data: ({idProducte: ev.target.id, idUser: '{{ idUser }}' }),
                    success: function (data) {
                        console.log(data);
                        if (data[0]){
                            $("#{{ product.id }}").attr("src","{{ base_url() }}/assets/cor_normal.png");
                            isLike = false;
                        }else{
                            $("#{{ product.id }}").attr("src","{{ base_url() }}/assets/cor_like.png");
                            isLike = true;
                        }
                    },
                    fail: function (data) {
                        console.log(data);
                    }

                });
            {% endif %}
        });
    {% endif %}






</script>

